@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Koulen';
  src: url('../public/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


@keyframes scroll-slow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 45s linear infinite;
}

/* Carousel Styles */
.slick-dots li button:before {
  display: none;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button {
  background-color: #CAFFB9;
} 